@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
@font-face {
  font-family: "Shrikhand";
  src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
}
body * {
  font-family: "Roboto", sans-serif;
}

body * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

div, main, nav, header, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loader {
  position: fixed;
  z-index: 2;
  inset: 0;
  width: 100%;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition-delay: 2s, 0s;
  transition-duration: 1s, 3s;
  transition-property: opacity, visibility;
}
.loader > .spinner__loader {
  position: fixed;
  width: 150px;
  height: 150px;
  border: 5px solid transparent;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  border-radius: 50%;
  transform: rotate(460deg);
  opacity: 0;
  transition-duration: 2s, 2s;
  transition-property: transform, opacity;
}

a {
  text-decoration: none;
  color: inherit;
}

.card__main {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  box-shadow: 5px 5px 15px gray;
}

.card__image {
  justify-content: center;
  overflow: hidden;
  height: 200px;
  min-width: 300px;
  border-radius: 25px 25px 0 0;
}
.card__image > img {
  max-width: 420px;
  min-width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: -35px;
}

.card__tag {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 0;
  position: relative;
  top: 50px;
  left: 130px;
  z-index: 1;
  padding: 15px;
  border-radius: 5px;
  background-color: aquamarine;
  color: #007f54;
}

.card__bottom {
  flex-direction: row;
  background-color: #fff;
  border-radius: 0 0 25px 25px;
}

.cardBottomText__bloc {
  max-width: 45%;
  margin: 10px;
  align-items: flex-start;
}

.card__title {
  font-size: large;
}

.heart__icon {
  height: 100px;
  width: 100px;
  position: relative;
  left: 100px;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-clip-path: path("M 10,30 A 20,20 0,1,1 50,30 A 20,20 0,0,1 90,30 Q 90,60 50,90 Q 10,60 10,30 z");
          clip-path: path("M 10,30 A 20,20 0,1,1 50,30 A 20,20 0,0,1 90,30 Q 90,60 50,90 Q 10,60 10,30 z");
  transform: scale(40%);
  opacity: 0;
  z-index: 1;
}
.heart__icon:hover {
  opacity: 1;
  transition: opacity, 1s ease-out;
  cursor: pointer;
}

.heart__svg {
  height: 100px;
  width: 100px;
  -webkit-clip-path: path("M 10,30 A 20,20 0,1,1 50,30 A 20,20 0,0,1 90,30 Q 90,60 50,90 Q 10,60 10,30 z");
          clip-path: path("M 10,30 A 20,20 0,1,1 50,30 A 20,20 0,0,1 90,30 Q 90,60 50,90 Q 10,60 10,30 z");
  transform: scale(40%);
}
.heart__svg > #heart__svg {
  stroke: #000;
  stroke-width: 7px;
  stroke-linejoin: round;
  fill: transparent;
}

header {
  background-color: #e6e6e6;
}

.logo__header {
  padding-top: 5%;
  padding-bottom: 10px;
  padding-left: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: flex-end;
  background-color: #fff;
  box-shadow: 3px 3px 3px darkgray;
}
.logo__header:hover {
  opacity: 0.2;
  transition: opacity 0.5s;
}

.location__bloc {
  background: transparent;
  padding: 1%;
  flex-direction: row;
}

.location__text {
  margin-left: 20px;
  font-weight: bold;
}

.homeTop {
  background-color: whitesmoke;
  padding: 2%;
}

.homeTop > a > button {
  min-width: 200px;
  margin: 20px 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.homeTop__title {
  font-size: x-large;
  text-align: center;
  max-width: 300px;
}

.homeTop__subTitle {
  text-align: center;
  font-size: medium;
  font-weight: lighter;
  max-width: 350px;
}

.homeTop__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  color: whitesmoke;
  border-radius: 20px;
  height: 40px;
  border: 0;
  padding: 2% 5%;
  font-size: small;
}

.nav__title {
  width: 300px;
}

.content__nav {
  background-color: #fff;
  width: 90%;
  padding-bottom: 10%;
}

.btn__numIcon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  right: 10px;
  background-color: #9356DC;
  color: #fff;
}

.btn__nav {
  flex-direction: row;
  justify-content: stretch;
  height: 60px;
  max-width: 300px;
  margin: 2%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px lightgray;
  background-color: whitesmoke;
  color: #000;
}
.btn__nav:hover {
  background-color: #e4d5f6;
  color: #9356DC;
}
.btn__nav:hover > .btn__icon {
  color: #9356DC;
}
.btn__nav:hover > .btn__title {
  color: #000;
}

.btn__icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5%;
  color: gray;
}
.btn__icon > i {
  background-color: transparent;
}

main {
  background-color: whitesmoke;
  padding: 50px 0;
}

.main__bloc {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.mainTitle__bloc {
  align-items: flex-start;
}

footer, footer > div {
  background-color: #333333;
  color: #fff;
  padding: 0 15px;
  justify-content: flex-start;
}

.logo__footer {
  align-items: flex-start;
  padding-top: 1em;
  padding-bottom: 1em;
}

.icon__footer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.icon__footer > i {
  color: #fff;
}

.footer__bloc {
  flex-direction: row;
}

.footer__bloc--bold {
  font-weight: bold;
}

.footer__bloc--bold > .text__line {
  margin-left: 15px;
}/*# sourceMappingURL=main.css.map */