
// cards restaurants
a {
    text-decoration: none;
    color: inherit;
}
.card__main {
    max-width: 20vw;
    min-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 5px $color-shadow;
}
.card__image {
    justify-content: center;
    overflow: hidden;
    margin-top: -30px;
    height: 150px;
    & > img {
        max-width: 400px;
        object-fit: cover;
        position: relative;
        top: -35px;
    }
}
.card__tag {
    visibility: hidden;
    height: 0;
    width: fit-content;
    position: relative;
    top: 25px;
    left: 30%;
    z-index: 1;
    padding: 15px;
    border-radius: 5px;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 50%);
}
@for $i from 1 through 3 {
    .main__bloc > a:nth-child(#{$i}) > div .card__tag {
        visibility: visible;
    }
}
.card__bottom {
    flex-direction: row;
    background-color: #fff;
    height: 65px;
}
.cardBottomText__bloc {
    max-width: 20%;
    margin: 5px 30px 5px 10px;
    align-items: flex-start;
    white-space: nowrap;
}
.card__title {
    font-size: large;
    margin: 0;
}
.card__text {
    margin: 5px 0;
}
