
// cards restaurants
a {
    text-decoration: none;
    color: inherit;
}
.card__main {
    max-width: 20vw;
    min-width: 300px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px lighten($color: #000, $amount: 50%)
}
.card__image {
    justify-content: center;
    overflow: hidden;
    margin-top: -30px;
    height: 150px;
    border-radius: 25px 25px 0 0;
    & > img {
        max-width: 400px;
        object-fit: cover;
        position: relative;
        top: -35px;
    }
}
.card__tag {
    height: 0;
    width: fit-content;
    position: relative;
    top: 25px;
    left: 30%;
    z-index: 1;
    padding: 15px;
    border-radius: 5px;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 50%);
}
.card__bottom {
    flex-direction: row;
    background-color: #fff;
    border-radius: 0 0 25px 25px;
    height: 65px;
}
.cardBottomText__bloc {
    max-width: 20%;
    margin: 5px 40px;
    align-items: flex-start;
    overflow: visible;
    white-space: nowrap;
}
.card__title {
    font-size: large;
    margin: 0;
}
.card__text {
    margin: 5px 0;
}
