
// heart icon

.heartIcon__bloc {
    flex-direction: row;
}

.heartIcon__bloc > .heart__icon {
    margin-left: -55px;
}
.heart__icon {
    cursor: pointer;
    @include heartSize;
    position: relative;
    left: 125px;
    opacity: 0;
    z-index: 1;
    & > svg {
        fill: url(#myGradient);
        stroke: url(#myGradient);
        stroke-width: 6px;
    }
    &:hover {
        opacity: 1;
        transition: opacity, 0.6s ease-in;
    }
    &:not(:hover) {
        opacity: 0;
        transition: opacity, 0.3s linear;
    }
}
.heart__svg {
    @include heartSize;
    position: relative;
    left: 25px;
    min-width: 100px;
    & > svg {
        stroke: #000;
        stroke-width: 4px;
        stroke-linejoin: round;
        fill: transparent;
    }
}
