
// heart icon

.heartIcon__bloc {
    flex-direction: row;
}
.heart__icon {
    height: 100px;
    width: 100px;
    position: relative;
    left: 100px;
    background: linear-gradient($color-primary,$color-secondary);
    clip-path: path('M 10,30 A 20,20 0,1,1 50,30 A 20,20 0,0,1 90,30 Q 90,60 50,90 Q 10,60 10,30 z');
    transform: scale(40%);
    opacity: 0;
    z-index: 1;
    &:hover {
        opacity: 1;
        transition: opacity, 1s ease-out;
        cursor: pointer;
    }
}
.heart__svg {
    height: 100px;
    width: 100px;
    clip-path: path('M 10,30 A 20,20 0,1,1 50,30 A 20,20 0,0,1 90,30 Q 90,60 50,90 Q 10,60 10,30 z');
    transform: scale(40%);
    & > #heart__svg {
        stroke: #000;
        stroke-width: 7px;
        stroke-linejoin: round;
        fill: transparent;
    }
}
