
.loader {
    position: fixed;
    z-index: 2;
    margin: 0;
    inset: 0;
    width: 100%;
    background-color: #fff;
    visibility: hidden;
    // loader
    animation: loader 2s ease both;
    & >.spinner__loader{
        position: fixed;
        width: 150px;
        height: 150px;
        border: 10px solid transparent;
        border-top: 10px solid $color-primary;
        border-bottom: 10px solid $color-secondary;
        border-radius: 50%;
        opacity: 0;
        // spinner
        animation: spinner 2s ease both;
    }
}
@keyframes loader {
    0% {
        visibility: visible;
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes spinner {
    0% {
        transform: rotate(460deg);
        opacity: 0;
    }
    50% {
        transform: rotate(180deg);
        opacity: 1;
    }
    100% {
        transform: rotate(1deg);
        opacity: 0;
    }
}
