
// main 
main {
    background-color: whitesmoke;
    width: 100%;
    padding-bottom: 5%;
}
.main__bloc {
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80vw;
    min-width: 300px;
}
.main__bloc > a {
    margin: 5%;
}
.bg__image {
    background-color: #000000;
    overflow: hidden;
    max-height: 40vh;
}
.bg__image > img{
    width: 100%;
    min-width: 600px;
}
.mainTitle__bloc {
    align-items: flex-start;
    margin-left: 5%;
    width: 95%;
    max-width: 50vw;
}
.restaurant__content {
    background-color: whitesmoke;
    border-radius: 25px 25px 0 0;
    position: relative;
    top: -25px;
}
.restaurantTitle__bloc {
    flex-direction: row;
    white-space: nowrap;
    width: 150px;
}
.restaurant__title {
    width: 100%;
    text-align: center;
    font-family: "shrikhand";
    font-weight: lighter;
}
.menu__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}
.menuPart__bloc {
    max-width: 400px;
    min-width: 300px;
    margin: 20px;
}
.underline__bloc {
    align-items: flex-start;
    margin-bottom: 10px;
    margin-left: 20px;
}
.menu__title {
    border-bottom: 4px solid $color-tertiary;
    overflow: visible;
    width: 40px;
    font-weight: lighter;
    font-size: medium
}

