
// header
header {
    background-color: lighten($color: #111, $amount: 85%);
    // width: 100%;
}
.logo__header {
    padding-top: 25px;
    padding-bottom: 15px;
    height: fit-content;
    justify-content: flex-end;
    background-color: #fff;
    box-shadow: 3px 3px 3px darkgray;
}
.logo__header > img {
    width: 150px;
}
.location__bloc {
    background: transparent;
    padding: 1%;
    flex-direction: row;
}
.location__text {
    margin-left: 20px;
    font-weight: bold;
}
.homeTop {
    background-color: whitesmoke;
    padding: 2%;
}
.homeTop__title {
    font-size: x-large;
    text-align: center;
    max-width: 300px;
}
.homeTop__subTitle {
    text-align: center;
    font-size: medium;
    font-weight: lighter;
    max-width: 350px;
}
// arrow 
.arrowLeft__bloc {
    width: fit-content;
    position: absolute;
    top: 3%;
    left: 5%;
}
.arrowLeft__bloc > i {
    font-size: x-large;
}

